<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav>
        <div class="nav-left">
            <div>
                <!-- logo website -->
                <img src="" alt="">

                <!-- list navigasi kiri -->
                <a href="">Rumah</a>
                <a href="">Terbaru</a>
                <a href="">Latest</a>
                <a href="">Cari</a>
                <a href="">Rekomendasi</a>

                <!-- dropdown setelan, komen, rating, etc -->
                <div class="dropdown">
                    <button class="dropbtn">More</button>
                    <div class="dropdown-content">
                      <a href="#">Link 1</a>
                      <a href="#">Link 2</a>
                      <a href="#">Link 3</a>
                    </div>
                  </div>
            </div>

        </div>

        <div class="nav-center">
            <input type="text" placeholder="Search..">
        </div>

        <div class="nav-righ">
            <button><img src="" alt="history"></button>
            <button><img src="" alt="theme"></button>
            <button><img src="" alt="setelan"></button>
            <button>sfw</button>
            <button>login</button>
        </div>
    </nav>

    <header>

    </header>

    <main>

    </main>
</body>
</html>